{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mx-auto">
    <div class="row p-1 w-full text-center sm:text-left">
    {% if user.is_authenticated %}
        <h2>Welcome {{ user.username }}</h2>
        <p><a href="{% url 'logout' %}" class="bg-black text-white rounded block pt-1 pb-1 text-center sm:inline sm:m-0 sm:p-1">Logout</a></p>
    {% else %}
        <p class="pb-2 pt-2">You are not logged in.</p>
        <a href="{% url 'login' %}" class="bg-black text-white rounded block pt-1 pb-1 text-center sm:inline sm:m-0 sm:p-1">Login</a>
        <a href="{% url 'register' %}" class="bg-black text-white rounded block pt-1 pb-1 mt-1 text-center sm:inline sm:m-0 sm:p-1">Register</a>
    {% endif %}
    </div>
</div>  
{% endblock %}